<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f67b76">  <td>17/07/10 14:11:32</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCadence.homeScreenValidate()[pri:0, instance:testExecution.TestCadence@26be92ad]">homeScreenValidate</td> 
  <td>main@125622176</td>   <td></td> </tr>
<tr bgcolor="f67b76">  <td>17/07/10 14:11:12</td>   <td>-19652</td> <td>&nbsp;</td><td title="&gt;&gt;TestCadence.setup()[pri:0, instance:testExecution.TestCadence@26be92ad]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@125622176</td>   <td></td> </tr>
<tr bgcolor="f67b76">  <td>17/07/10 14:11:45</td>   <td>12865</td> <td>&nbsp;</td><td title="&lt;&lt;TestCadence.teardown()[pri:0, instance:testExecution.TestCadence@26be92ad]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@125622176</td>   <td></td> </tr>
</table>
